@use "../base/typographie" as *;

body,
h1 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

h1 {
  font-size: 24px;
  font-weight: 700px;
}

h2 {
  font-size: 18px;
  font-weight: 700px;
}

p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000000;
}
