@use "../utils/" as *;

footer {
  background-color: $secondary_background_color;
  padding: 22px 25px 22px 25px;
  @media (min-width: 1080px) {
    display: flex;
    order: +1;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
  }

  .footer__logo {
    @media (min-width: 1080px) {
      display: flex;
      order: +1;
    }
    padding-bottom: 16px;
    h1 {
      color: white;
      font-family: "shrikhand";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
    }
  }
}
.footer-container {
  color: white;
  @media (min-width: 1080px) {
    display: flex;
    gap: 10px;
  }

  .footer__contents {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 7px;
    h3 {
      padding-left: 11px;
    }
    @media (min-width: 900px) {
      h3 {
        padding-right: 25px;
      }
    }
  }

  .footer__copyrights {
    @media (min-width: 900px) {
      display: flex;
      gap: 20px;
    }
  }
  .footer__copyrights,
  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    padding-bottom: 7px;
  }
}
