@use "../utils/" as *;

header {
  text-align: center;
}

.header__location {
  height: 50px;
  background-color: $primary_backgroung_color;
  @include flexbox-center-both;
}

.header__logo {
  padding: 14px 89px 13px 89px;
  img {
    height: 44px;
    width: 162px;
    padding: 0px 19px 0 16px;
  }
}
// *** Menu ***

.menu_header {
  display: flex;
  align-items: center;
}

.header__pics {
  img {
    width: 100%;
    object-fit: cover;
    height: 275px;
    z-index: 1;
  }
}
