@use "../utils/" as *;

.header__location {
  height: 50px;
  background-color: $primary_backgroung_color;
  @include flexbox-center-both;
}

.header__logo {
  padding: 14px 89px 13px 89px;
  @include flexbox-center-both;
  img {
    height: 44px;
    width: 162px;
    padding: 0px 19px 0 16px;
  }
}
// *** Menu ***

.menu_header {
  @include flexbox-center-both;
  i {
    padding-right: 5%;
    position: absolute;
    left: 17px;
    top: 28px;
  }
  @media (min-width: 1080px) {
    padding-left: 5%;
  }
}

.header__pics {
  img {
    width: 100%;
    object-fit: cover;
    height: 275px;
    z-index: 1;
  }
}
