@use "../utils/" as *;

.container-menu {
  @media (min-width: 1080px) {
    display: flex;
    justify-content: center;
  }
}

.menu {
  @media (min-width: 1080px) {
    width: 60%;
    padding-left: 13%;
    padding-right: 13%;
  }
  padding: 13px;
  background-color: $main_backround_color;
  border-radius: 20px;
  margin-top: -30px;
  position: relative;
  h2 {
    margin: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__title {
    @media (min-width: 1080px) {
      justify-content: center;
    }
    @include flexbox-center-verticaly;
    padding-top: 32px;
    h1 {
      font-family: "shrikhand";
      font-size: 28px;
      font-weight: 400;
      padding-right: 32px;
    }
  }

  &__cards {
    @include btn;
    @include flexbox-center-verticaly;
  }

  &__txt {
    width: 85%;
    padding: 15px;
    line-height: 0.4rem;
    h3 p {
      margin: 0;
      text-decoration: none;
    }
  }

  .cards__price {
    padding: 15px;
    font-weight: 700;
    p {
      margin-bottom: 0;
    }
  }
}
