@use "../utils/" as *;

.operation {
  margin-top: 48px;
  margin-bottom: 68px;

  h3 {
    @media (min-width: 1080px) {
      margin-left: 95px;
    }
    padding-left: 20px;
    height: 57px;
  }
}
