@use "../utils/" as *;

.reservation {
  background-color: $main_backround_color;
  text-align: center;
  height: 287px;
  h1 {
    @include flexbox-center-horizont;
    height: 68px;
    padding: 39px 42px 0 58px;
    margin: 0;
  }
  p {
    height: 46px;
    padding: 0 26px 27px 34px;
    margin: 0;
  }
}
