// flexbox center vertically and horizontaly

@mixin flexbox-center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}

// flexbox center horizontaly
@mixin flexbox-center-horizont {
  display: flex;
  justify-content: center;
}

// flexbox center verticaly
@mixin flexbox-center-verticaly {
  display: flex;
  align-items: center;
}

// flexbox justify left center verticaly
@mixin flexbox-justify-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

// flexbox center verticaly columm
@mixin flexbox-center-vertical-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

//button or cards
@mixin btn {
  border-radius: 20px;
  height: 72px;
  width: 93%;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@mixin greenborderbottom {
  border-bottom: 2px solid green;
  width: 7px;
}
