// flexbox center vertically and horizontaly

@mixin flexbox-center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}

// flexbox center horizontaly
@mixin flexbox-center-horizont {
  display: flex;
  justify-content: center;
}

// flexbox center verticaly
@mixin flexbox-center-vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
}

//button or cards
@mixin btn {
  border-radius:20px;
  height: 72px;
  width:85%;
  box-shadow:0 4px 15px 0 rgba(0, 0, 0, 0.15);
  
  
  

}