$main_backround_color: #f6f6f6;
$primary_backgroung_color: #eaeaea;
$secondary_background_color: #353535;
$tertiary_background_color: #ffffff;

$primary_color: #9356dc;
$black_color: #000000;

$green-color: #008766;
$light-green-color: #99e2d0;

// gradients

$button-gradient: linear-gradient(180deg, #ff79da, #9356dc);
// $button-gradient-light: lighten ($button-gradient, -15%);
