@use "../utils/" as *;

.location__placeholder {
  border: none;
  background-color: $primary_backgroung_color;
  width: 50%;
  padding-left: 17px;

  .location__button {
    @include flexbox-center-both;
    padding: 15px 0 15px;
  }
}

.reservation__button {
  width: 50%;
  span {
    color: $tertiary_background_color;
  }
}

.operation__button {
  @include flexbox-center-vertical-column;
  gap: 30px;
  @media (min-width: 1080px) {
    flex-direction: row;
    justify-content: center;
  }
}

.btn {
  @include btn;
  @include flexbox-justify-left;
  font-weight: 500;
  font-size: 16px;
  @media (min-width: 1080px) {
    width: 25%;
  }

  &__purple {
    height: 50px;
    background: $button-gradient;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 2s;

    &:hover {
      background: $button-gradient;
      box-shadow: 0px 4px 15px 0px;
      background-color: rgba(255, 255, 255, 0.2);
      transition: 0.5s ease-in-out;
    }

    @media (min-width: 1080px) {
      width: 25%;
      &:hover {
        opacity: 85%;
        background: $button-gradient;
      }
    }
  }

  &__green {
    background-color: $light-green-color;
    color: $green-color;
    position: absolute;
    right: 0;
    z-index: 10;
    margin: 12px 13px;
    border-radius: 2px;
  }
}

button {
  background-color: $main_backround_color;
  gap: 25px;
}

menu.btn {
  left: 37%;
  top: 5%;
  right: none;
  cursor: pointer;
}
.button-favorite {
  i {
    position: absolute;
  }
  position: absolute;
  right: 7%;
  top: 25%;
  cursor: pointer;
}

.heart-full {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 100;
}

.heart-full:hover {
  opacity: 1;
  background-image: linear-gradient(#ff79da, #9356dc);
  transition: opacity 0.5s ease-in-out;
}

.button-round {
  @include flexbox-center-both;
  border-radius: 50%;
  background-color: $primary_color;
  color: $main_backround_color;
  height: 24px;
  width: 24px;
  margin-left: -15px;
}
.button_order {
  @include flexbox-center-both;
  padding: 40px 0 40px 0;
}

.fa-mobile-screen-button,
.fa-list-ul,
.fa-store {
  color:grey;
  &:hover {
  color: $primary_color;
  }
}

.button-check {
  @include flexbox-center-both;
  opacity: 0;
  position: relative;
  background-color: #99e2d0;
  height: 72px;
  border-radius: 0 15px 15px 0;
  color: white;
  font-size: 22px;
  line-height: 72px;
  width:10%;
  left: 11%;
  transition-duration: 500ms;
}
