@use "../utils/" as *;

.container__restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  @media (min-width: 1080px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  a {
    @media (min-width: 1080px) {
      width: 40%;
    }
    .restaurants__cards {
      margin-left: 17px;
      margin-right: 18px;
      background-color: white;
      height: 251px;
      border-radius: 25px;
      position: relative;
      img {
        width: 100%;
        height: 154px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
      }
    }
  }
}

.cards-contents {
  height: 77px;
  padding: 16px 0px 5px 13px;
  margin: 0;
  position: relative;
  p {
    margin: 0;
    font-weight: 300;
    font-size: 17px;
  }
}
